@tailwind base;
@tailwind components;
@tailwind utilities;

/* Design tokens */
:root {
  --background: 0 0% 100%;
  --foreground: 222.2 47.4% 11.2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 222.2 47.4% 6.5%;
    --foreground: 210 40% 98%;
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}
